[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --allow-privileged=true \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file=/var/lib/kubernetes/{{ certificate_authorities.kubernetes_ca.name }} \
  --etcd-cafile=/var/lib/kubernetes/{{ certificate_authorities.kubernetes_ca.name }} \
  --etcd-certfile=/var/lib/kubernetes/kube-apiserver.pem \
  --etcd-keyfile=/var/lib/kubernetes/kube-apiserver-key.pem \
  --etcd-servers=https://127.0.0.1:2379 \
  --enable-admission-plugins=NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --event-ttl=1h \
  --encryption-provider-config=/var/lib/kubernetes/encryption-config.yaml \
  --kubelet-certificate-authority=/var/lib/kubernetes/{{ certificate_authorities.kubernetes_ca.name }} \
  --kubelet-client-certificate=/var/lib/kubernetes/kube-apiserver.pem \
  --kubelet-client-key=/var/lib/kubernetes/kube-apiserver-key.pem \
  --runtime-config='api/all=true' \
  --service-account-key-file=/var/lib/kubernetes/service-accounts.pem \
  --service-account-signing-key-file=/var/lib/kubernetes/service-accounts-key.pem \
  --service-account-issuer=https://k8s-ctrl-1.kubernetes.local \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/var/lib/kubernetes/kube-apiserver.pem \
  --tls-private-key-file=/var/lib/kubernetes/kube-apiserver-key.pem \
  --requestheader-username-headers=X-Remote-User \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-client-ca-file=/var/lib/kubernetes/{{ certificate_authorities.kubernetes_aggregation_layer_ca.name }} \
  --requestheader-allowed-names="kubernetes-aggregation-layer" \
  --proxy-client-cert-file=/var/lib/kubernetes/kubernetes-aggregation-layer.pem \
  --proxy-client-key-file=/var/lib/kubernetes/kubernetes-aggregation-layer-key.pem \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
