apiVersion: v1
kind: Config

clusters:
- name: kubernetes-the-hard-way
  cluster:
    certificate-authority-data: {{ ca_cert | b64encode }}
    server: {{ server }}

contexts:
- context:
    cluster: kubernetes-the-hard-way
    user: {{ user }}
  name: default
current-context: default

users:
- name: {{ user }}
  user:
    client-certificate-data: {{ client_cert | b64encode }}
    client-key-data: {{ client_key | b64encode }}
